*.log
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.nova
/.phpunit.cache
/.zed
/auth.json
/public/build
/node_modules
/public/hot
/public/storage
/vendor
/.idea
/.vscode
.DS_Store
*.lock

# Archivos criticos que NUNCA deben ir al repositorio
/.env               # <--- ¡CRÍTICO! Contiene contraseñas y claves.
/.env.backup
/storage/*.key      # Claves de cifrado
/storage/oauth-*
/storage/logs/*.log
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
